# Trainer/Jockey Combination Statistics

**Attributes to Add:**

â€¢ **Combined Starts, Wins, Win Percentage for Trainer/Jockey Pair**

**Significance:**

Some trainer and jockey combinations perform exceptionally well together.

Can also be used to identify a horse under a new trainer/jockey combination

# DDL for table

CREATE TABLE trainer_jockey_stats
(
    train_key        VARCHAR(255) NOT NULL,
    jock_key         VARCHAR(255) NOT NULL,
    stat_type        VARCHAR(20)  NOT NULL,
    as_of_date       DATE         NOT NULL,
    starts           INTEGER      NOT NULL DEFAULT 0,
    win              INTEGER      NOT NULL DEFAULT 0,
    place            INTEGER      NOT NULL DEFAULT 0,
    show             INTEGER      NOT NULL DEFAULT 0,
    fourth           INTEGER      NOT NULL DEFAULT 0,
    win_percentage   DECIMAL(5, 2) GENERATED ALWAYS AS (
        (win::numeric / NULLIF(starts, 0)) * 100
    ) STORED,
    itm_percentage   DECIMAL(5, 2) GENERATED ALWAYS AS (
        ((win + place + show)::numeric / NULLIF(starts, 0)) * 100
    ) STORED,
    top4_percentage  DECIMAL(5, 2) GENERATED ALWAYS AS (
        ((win + place + show + fourth)::numeric / NULLIF(starts, 0)) * 100
    ) STORED,
    PRIMARY KEY (train_key, jock_key, stat_type, as_of_date)
);

In [28]:
# Environment setup

import logging
import os
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy import text
import geopandas as gpd
from datetime import datetime
import configparser
from src.data_ingestion.ingestion_utils import (
    get_db_connection, update_tracking, load_processed_files
)
from src.data_ingestion.eqb_ppData import process_pluspro_data
from src.data_ingestion.eqb_resultsCharts import process_resultscharts_data
from src.data_ingestion.tpd_datasets import (
    process_tpd_sectionals_data,
    process_tpd_gpsdata_data
)

# Load the configuration file
config = configparser.ConfigParser()
config.read('/home/exx/myCode/horse-racing/FoxRiverAIRacing/config.ini')

# Set up logging for consistent logging behavior in Notebook
logging.basicConfig(level=logging.INFO)

# Retrieve database credentials from config file
# Retrieve database credentials from config file
db_host = config['database']['host']
db_port = config['database']['port']
db_name = config['database']['dbname']  # Corrected from 'name' to 'dbname'
db_user = config['database']['user']

# Establish connection using get_db_connection
conn = get_db_connection(config)

# Create the SQLAlchemy engine
engine = create_engine(f'postgresql+psycopg2://{db_user}@{db_host}:{db_port}/{db_name}')

Populate the trainer_jockey_stats Table

In [29]:
query = """
WITH race_results AS (
    SELECT
        r.train_key,
        r.jock_key,
        r.stat_type,
        r.race_date AS as_of_date,
        re.official_fin AS finish_position
    FROM
        v_runners r
    JOIN
        v_results_entries re ON re.course_cd = r.course_cd
                           AND re.race_date = r.race_date
                           AND re.race_number = r.race_number
                           AND re.program_num = r.saddle_cloth_number
    WHERE
        re.official_fin IS NOT NULL
),
daily_stats AS (
    SELECT
        train_key,
        jock_key,
        stat_type,
        as_of_date,
        COUNT(*) AS daily_starts,
        SUM(CASE WHEN finish_position = 1 THEN 1 ELSE 0 END) AS daily_win,
        SUM(CASE WHEN finish_position = 2 THEN 1 ELSE 0 END) AS daily_place,
        SUM(CASE WHEN finish_position = 3 THEN 1 ELSE 0 END) AS daily_show,
        SUM(CASE WHEN finish_position = 4 THEN 1 ELSE 0 END) AS daily_fourth
    FROM
        race_results
    GROUP BY
        train_key,
        jock_key,
        stat_type,
        as_of_date
),
cumulative_stats AS (
    SELECT
        train_key,
        jock_key,
        stat_type,
        as_of_date,
        SUM(daily_starts) OVER (
            PARTITION BY train_key, jock_key, stat_type
            ORDER BY as_of_date
            ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING
        ) AS starts,
        SUM(daily_win) OVER (
            PARTITION BY train_key, jock_key, stat_type
            ORDER BY as_of_date
            ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING
        ) AS win,
        SUM(daily_place) OVER (
            PARTITION BY train_key, jock_key, stat_type
            ORDER BY as_of_date
            ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING
        ) AS place,
        SUM(daily_show) OVER (
            PARTITION BY train_key, jock_key, stat_type
            ORDER BY as_of_date
            ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING
        ) AS show,
        SUM(daily_fourth) OVER (
            PARTITION BY train_key, jock_key, stat_type
            ORDER BY as_of_date
            ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING
        ) AS fourth
    FROM
        daily_stats
)
INSERT INTO trainer_jockey_stats (
    train_key, jock_key, stat_type, as_of_date, starts, win, place, show, fourth
)
SELECT
    train_key,
    jock_key,
    stat_type,
    as_of_date,
    COALESCE(starts, 0) AS starts,
    COALESCE(win, 0) AS win,
    COALESCE(place, 0) AS place,
    COALESCE(show, 0) AS show,
    COALESCE(fourth, 0) AS fourth
FROM
    cumulative_stats
ON CONFLICT (train_key, jock_key, stat_type, as_of_date) DO UPDATE SET
    starts = EXCLUDED.starts,
    win = EXCLUDED.win,
    place = EXCLUDED.place,
    show = EXCLUDED.show,
    fourth = EXCLUDED.fourth;
"""

from sqlalchemy import text
import traceback

try:
    with engine.begin() as connection:
        connection.execute(text(query))
        logging.info("Data inserted/updated successfully.")
except Exception as e:
    print(f"An error occurred: {e}")
    traceback.print_exc()

In [30]:
# View sample from jock_accum_stats
query = """
SELECT
    train_key,
    jock_key,
    stat_type,
    as_of_date,
    starts,
    win,
    place,
    show,
    fourth,
    win_percentage,
    itm_percentage,
    top4_percentage
FROM
    trainer_jockey_stats
ORDER BY
    as_of_date
LIMIT 10;
"""

df = pd.read_sql_query(query, engine)

# Display the DataFrame
df.head()

,train_key,jock_key,stat_type,as_of_date,starts,win,place,show,fourth,win_percentage,itm_percentage,top4_percentage
0,110180,127153,DIRT_RTE,2022-01-01,0,0,0,0,0,None,None,None
1,110180,127153,TURF_RTE,2022-01-01,0,0,0,0,0,None,None,None
2,110000,82464,DIRT_RTE,2022-01-01,0,0,0,0,0,None,None,None
3,110180,126107,TURF_RTE,2022-01-01,0,0,0,0,0,None,None,None
4,1054,102032,ALL_WEATHR,2022-01-01,0,0,0,0,0,None,None,None